node_modules/
build/

# Environment variables
.env

# Prisma
prisma/migrations/migration_lock.toml

# Temporary files
tmp/*
uploads/*
!tmp/.gitkeep
!uploads/.gitkeep
!tmp/image-01.jpg
!tmp/image-02.jpg
!tmp/img-01.png
!tmp/img-02.png
